

#board #search-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

#board #search-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#board #search-container button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#board #search-container button:hover {
    background-color: #545b62;
}
